{% extends 'base.html' %}

{% block title %}{% if object %}Editar Peça{% else %}Nova Peça{% endif %}{% endblock %}

{% block content %}
<h1>{% if object %}Editar Peça{% else %}Nova Peça{% endif %}</h1>
{% include 'includes/resumo_erros.html' with form=form %}
<p class="aviso-obrigatorio">Campos marcados com <span class="obrigatorio">*</span> são obrigatórios.</p>
<form method="post">
    {% csrf_token %}

    {% for campo in form %}
        {% include 'includes/campo.html' with campo=campo %}
    {% endfor %}

    <button class="btn" type="submit">Salvar</button>
    <a class="btn btn-secondary" href="{{ cancel_url }}">Cancelar</a>
</form>
{% endblock %}
